@page "/"
@using NewsAggregator.Data
@using Microsoft.Data.Sqlite

<PageTitle>Новости</PageTitle>

<h3>Мои новости</h3>

<div class="container">
    <div class="text-left my-1">
        <ul class="list-group">
            @foreach (var card in cards)
            {
                <li class="list-group-item">
                    <h5><a href="@card.Link" target="_blank">@card.Title</a></h5>
                    <p>Описание: @card.Description</p>
                    <div class="div_footer">
                        <span>Источник: @card.Source</span>
                        <span>Дата публикации: @card.Date.ToString("dd-MM-yyyy hh:mm")</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    List<Source> sources = new List<Source>();
    List<NewsCard> cards = new List<NewsCard>();

    public void GetSources()
    {
        sources.Clear();

        using (var db = new ApplicationContext())
        {
            sources = db.Sources.ToList();
        }

        foreach (var source in sources)
        {
            if (source.IsPicked)
            {
                NewsCardFeed newsCardFeed = new NewsCardFeed(source.Link, source.Title);
                cards.AddRange(newsCardFeed.Items);
            }
        }

        cards.Sort((x, y) => DateTime.Compare(y.Date, x.Date));
    }

    protected override void OnInitialized()
    {
        GetSources();
    }
}
